
img {
    display:block;
    margin: 0 auto;
    width: 400px;
    max-width: 100%;
    height: auto;
}


#record {
    margin: 0 auto;
}

hr.footerborder{
    height:wpx;border:none;border-top:1px solid black;
}

div.page-header{
    text-align: center;
}

p{
    text-indent:2em;
}
h2{
    text-align: center;
}

div.headpic{
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    overflow: hidden;
    widows: 100%;
}

div.heads{
    width:10%;/*相对页面的宽度，图片等比例缩放*/
}


/*!-table*/
.table{
    box-align:center;
    caret-color:#cccccc;

}
.tabtop13 {
    margin-top: 13px;
}
.tabtop13 td{
	background-color:#ffffff;
	height:25px;
    line-height:150%;
}
.font-center{ text-align:center}
.btbg{background:#e9faff !important;}
.btbg1{background:#f2fbfe !important;}
.btbg2{background:#f3f3f3 !important;}
.biaoti{
	font-family: 微软雅黑;
	font-size: 26px;
	font-weight: bold;
	border-bottom:1px dashed #CCCCCC;
	color: #255e95;
}
.titfont {
	
	font-family: 微软雅黑;
	font-size: 16px;
	font-weight: bold;
	color: #255e95;
    background-color:#e9faff;
    border-bottom:1px dashed #0e0303;
}
.tabtxt2 {
	font-family: 微软雅黑;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
    color:#327cd1;
    border-bottom:1px dashed #0e0303;
}
.tabtxt3 {
	font-family: 微软雅黑;
	font-size: 14px;
	padding-left: 15px;
	color: #000;
	margin-top: 10px;
	margin-bottom: 10px;
    line-height: 20px;
    border-bottom:1px dashed #0e0303;
}